body{
  background-color: #f8dfb8;
  text-align: center;
  color: #6b4633
}
.menu-text{
    font-family: "Baskerville Old Face";
    color: white;
}
.navbar-custom {
  background-color: #253812;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #f8dfb8;
  font-family: "Baskerville Old Face";
  font-weight: bold;
}
ul{
  text-align: left;
}
.menu-images{
  width:  300px;
  height: 200px;
  object-fit: cover;
}
.column1 {
  background-color: #ba621c;
  border: white 1px solid;
  color: white;
  border: white 1px solid;
}
.column2 {
  background-color: #6b4633;
  color: white;
  border: white 1px solid;
}